.mermaid svg {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
}

.mermaid svg.appear {
  opacity: 1;
  transform: translateY(0);
}

.mermaid svg .node:hover {
  fill: #facc15 !important; /* تمييز العقدة عند المرور */
  cursor: pointer;
}
